<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruthexconsult | My courses</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/courses.css')}}">
</head>
<body>
    <div class="container">
        <header>
            <div class="head-text">
                <h1>My Courses</h1>
                <p>
                    The easiest way to start learning from me is to grab my collection of Training resources, Masterclasses and Courses that have been bundled together specific to your immediate business needs. Below are Two of the Core Bundles that have helped hundreds of students

                </p>
            </div>
        </header>

        <div class="courses">
            <div class="course-item">
                <div class="thumbnail">
                    <img src="{{url_for('static',filename='img/sell-like-a-boss-min.png')}}" alt="">
                </div>
                <div class="desc">
                    <h3>Sell Like A Boss</h3>
                    <p>
                        <strong>Synopsis</strong>
                        <p class="desc-graph">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, maxime.
                        </p>
                        <strong>What you will learn</strong>
                        <p class="desc-graph">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, laboriosam.
                        </p>
                    </p>
                    <button><a href="https://paystack.com/pay/selllikeaboss">Buy</a></button>
                </div>
            </div>
            <div class="course-item">
                <div class="thumbnail">
                    <img src="{{url_for('static',filename='img/sell-like-a-boss-min.png')}}" alt="">
                </div>
                <div class="desc">
                    <h3>Course title</h3>
                    <p>
                        <strong>Synopsis</strong>
                        <p class="desc-graph">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, maxime.
                        </p>
                        <strong>What you will learn</strong>
                        <p class="desc-graph">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, laboriosam.
                        </p>
                    </p>
                    <button><a href="https://paystack.com/pay/selllikeaboss">Buy</a></button>
                </div>
            </div>
            <div class="course-item">
                <div class="thumbnail">
                    <img src="{{url_for('static',filename='img/sell-like-a-boss-min.png')}}" alt="">
                </div>
                <div class="desc">
                    <h3>Course title</h3>
                    <p class="desc-graph">
                        <strong>Synopsis</strong>
                        <p class="desc-graph">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, maxime.
                        </p>
                        <strong>What you will learn</strong>
                        <p class="desc-graph">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, laboriosam.
                        </p>
                    </p>
                    <button><a href="https://paystack.com/pay/selllikeaboss">Buy</a></button>
                </div>
            </div>
            <div class="course-item">
                <div class="thumbnail">
                    <img src="{{url_for('static',filename='img/sell-like-a-boss-min.png')}}" alt="">
                </div>
                <div class="desc">
                    <h3>Course title</h3>
                    <p>
                        <strong>Synopsis</strong>
                        <p class="desc-graph">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, maxime.
                        </p>
                        <strong>What you will learn</strong>
                        <p class="desc-graph">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, laboriosam.
                        </p>
                    </p>
                    <button><a href="https://paystack.com/pay/selllikeaboss">Buy</a></button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="copyright">
            <span>Copyright &copy; 2021 Ruthexconsult.com. All Rights Reserved.</span><br>
        </div>
    </footer>
</body>
</html>